
H1{
color: rgb(159, 134, 170);
font: 24pt courier;
font-weight:600;
}

p{
color: rgb(159, 134, 170);
font: 18pt courier;
font-weight:400;
}

body{
background-color: rgb(217,217,214);
background-size:30%;
margin:0;
}

Img{
  width:100%;
  position:absolute;
  z-index:-1;
 
}
